
mixin aside-left()
			aside.main-section__col-left
				.module-menu.main-section__col-left__block
					.module-menu__item
						a(href="#")
							span Артисты и шоу-программы
							span.module-menu__count 100
						
						.module-menu__sub
							.module-menu__item
								a(href="#")
									span Ведущий на праздник
									span.module-menu__count 10
							.module-menu__item
								a(href="#")
									span Шоу-программы в Москве
									span.module-menu__count 10
							.module-menu__item
								a(href="#")
									span Музыканты на праздник
									span.module-menu__count 10
							.module-menu__item
								a(href="#")
									span Народные ансамбли Москвы
									span.module-menu__count 10
							.module-menu__item.parent
								a(href="#")
									span Артисты оригинального жанра в Москве
									span.module-menu__count 10

								.module-menu__sub
									.module-menu__item
										a(href="#")
											span Ведущий на праздник
											span.module-menu__count 10
									.module-menu__item
										a(href="#")
											span Шоу-программы в Москве
											span.module-menu__count 10
									.module-menu__item
										a(href="#")
											span Музыканты на праздник
											span.module-menu__count 10
									.module-menu__item
										a(href="#")
											span Народные ансамбли Москвы
											span.module-menu__count 10

				.module-block.module-block--tags.main-section__col-left__block
					.module-block__title Поиск по тегам
					.module-block__list
						.module-block__item
							a(href="#") #тег
						.module-block__item
							a(href="#") #тегвторой
						.module-block__item
							a(href="#") #тегеще
						.module-block__item
							a(href="#") #тег
						.module-block__item
							a(href="#") #тегвторой
						.module-block__item
							a(href="#") #тегеще
						.module-block__item
							a(href="#") #тег
						.module-block__item
							a(href="#") #тегвторой
						.module-block__item
							a(href="#") #тегеще
						.module-block__item
							a(href="#") #тег
						.module-block__item
							a(href="#") #тегвторой
						.module-block__item
							a(href="#") #тегеще
